<h1 mat-dialog-title>{{ creation ? 'New hero'  : 'Edit hero'}}</h1>
<div mat-dialog-content>
  <p *ngIf="creation">Setup a new hero!</p>
  <p *ngIf="edition">Update information of the hero</p>

  <form [formGroup]="form">
    <div fxLayout="column">
      <mat-form-field>
        <mat-label> Hero's name </mat-label>
        <input matInput formControlName="name" appUppercase required />
        <mat-error *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.whitespace">
          A hero needs a name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Birthday</mat-label>
        <input formControlName="birthday" matInput [matDatepicker]="datepicker" />
        <mat-error *ngIf="form.controls.birthday.errors?.required">
          A hero needs a birthday
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field [floatLabel]="'never'">
        <mat-chip-list
          [formControl]="form.controls.superpowers"
          #superpowerChipList
        >
          <mat-chip
            *ngFor="
              let superpowerFormControl of form.controls.superpowers.value
            "
            [removable]="true"
            (removed)="removeSuperpower(superpowerFormControl)"
          >
            {{ superpowerFormControl.name }}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>

          <input
            [placeholder]="
              (superpowers$ | async) && (superpowers$ | async).length > 0
                ? 'Example: ' + (superpowers$ | async)[0].name
                : null
            "
            [matChipInputFor]="superpowerChipList"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="false"
            (input)="superpowerFilter$.next(filterInput.value)"
            #filterInput
          />
        </mat-chip-list>
        <mat-error *ngIf="form.controls.superpowers.invalid">
          A true hero needs at least one superpower.
        </mat-error>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectSuperpower($event)"
        >
          <mat-option
            *ngFor="let superpower of filteredSuperpowers$ | async"
            
            [value]="superpower"
          >
            {{ superpower.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <div fxFill fxLayoutAlign="end">
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.pristine || form.invalid || (saving$ | async)"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
